/* Región y ubicación en una fila */
.ubicacion-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.region-select {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  background: #5B9430;
  color: #fff;
  font-size: 0.95em;
  font-family: "Inter", sans-serif;
  outline: none;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
  min-width: 110px;
}
.region-select:focus, .region-select:hover {
  background: #4a7b25;
}
.region-select option {
  color: #1E1E1E;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #1E1E1E;
  text-align: center;
}

/* ---------------- Header ---------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 18px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  font-weight: bold;
  color: #5B9430;
  font-size: 25px;
}

.navbar nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #1E1E1E;
  font-weight: 550;
  font-family: "Inter", sans-serif;
}

.navbar nav a:hover {
  text-decoration: underline;
}

.btn-reportar {
  background: #5B9430;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 550;
  font-family: "Inter", sans-serif;
}

/* ---------------- Inicio ---------------- */
.inicio {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(201, 247, 255, 0.35), rgba(201, 247, 255, 0.35)), url('./back_inicio.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}
.reportados {
  width: 100%;
  height: 350px;
  background: linear-gradient(rgba(201, 247, 255, 0.35), rgba(201, 247, 255, 0.35)), url('./back_inicio.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}
.contacto {
  width: 100%;
  height: 350px;
  background: linear-gradient(rgba(201, 247, 255, 0.35), rgba(201, 247, 255, 0.35)), url('./back_inicio.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}
.tabla {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  background: #fff;
  }

.tabla th {
  background: #85af65;
  color: #fff;
  padding: 14px 10px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid #e0e0e0;
}

.tabla td {
  background: #fff;
  color: #1E1E1E;
  padding: 12px 10px;
  font-size: 17px;
  border-bottom: 1px solid #e0e0e0;
}

.tabla .btn-ver-mas {
  background: #5B9430;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 550;
  font-family: "Inter", sans-serif;
  transition: background 0.2s;
}

.tabla .btn-ver-mas:hover {
  background: #417021;
}
.filtro {
  background: #5B9430;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 550;
  font-family: "Inter", sans-serif;
  transition: background-color 0.2s;
  /* quita la flecha por defecto */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* espacio para la flecha personalizada */
  padding-right: 40px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.filtro:hover {
  background: #417021;
}
.filtro option {
  color: #5B9430;
  background: #fff;
}

.inicio h1 span {
  color: #93F5DB;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.card-header {
  background: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 25px;
  width: 250px;
  display: flex;
  align-items: center;       /* alinea verticalmente el logo con el bloque de texto */
  gap: 10px;                 /* espacio entre logo y bloque de texto */
}

.texto-num {
  display: flex;
  flex-direction: column;    /* texto arriba, número abajo */
  align-items: flex-end;     /* todo alineado a la derecha */
}

.titulo {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #fff;
}

.card-header h2 {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  align-self: center;
}

/* ---------------- Tipos de Incidentes ---------------- */
.incidentes {
  padding: 40px 60px;
  color: #1E1E1E;
  font-weight:200;
  font-size: 20px;
}

.incidentes .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 300px));
  gap: 35px;
  margin: 30px 60px;
  justify-content: center;
}

.item {
  background: #EFEFEF;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titulo-carta{
  font-size: 30px;
  font-weight: 500;
  color: #739957;
  margin-top: 20px;
  margin-bottom: -10px;
}

.acciones button {
  margin: 40px;
  padding: 16px 40px;
  border: none;
  border-radius: 20px;
  background: #5B9430;
  color: white;
  cursor: pointer;
  font-size: 35px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

/* ---------------- Final ---------------- */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background: #5B9430;
  color: white;
  font-size: 25px;
  font-weight: bold;

}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo img {
  width: 45px;
  height: auto;
}

footer nav a {
  margin-left: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

footer nav a:hover {
  text-decoration: underline;
}

/* ----------------------- CSS DE FORMULARIO ----------------------- */

.form-hero-section {
    background: linear-gradient(rgba(201, 247, 255, 0.35), rgba(201, 247, 255, 0.35)), url('./back_basura.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.form-hero-section h1 {
    margin: 0;
    font-size: 2.8em;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.form-main-content {
    display: flex;
    padding: 40px 5%;
    gap: 40px;
    text-align: left;
}

.incidente-form {
    flex: 2;
}

.info-sidebar {
    flex: 1;
}

.incidente-form-group {
    margin-bottom: 25px;
}

.incidente-form-group h2 {
    font-size: 1.2em;
    color: #1E1E1E;
    margin-bottom: 15px;
}

.incidente-type-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.incidente-type-buttons button {
  background-color: #5B9430;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.incidente-type-btn.selected {
  background-color: #fff;
  color: #5B9430;
  border: 2px solid #5B9430;
}

.incidente-type-buttons button:hover {
    background-color: #4a7b25;
}

.incidente-form input[type="text"],
.incidente-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    font-family: "Inter", sans-serif;
    box-sizing: border-box; 
}

.incidente-form textarea {
    resize: vertical;
}

.incidente-upload-area {
    border: 2px dashed #ccc;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.upload-icon {
    width: 40px;
    opacity: 0.6;
}

.incidente-submit-button {
    background: #5B9430;
    color: white;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 550;
    font-family: "Inter", sans-serif;
}

.incidente-submit-button:hover {
    background-color: #4a7b25;
}

.sidebar-info-box {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.sidebar-info-box h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #1E1E1E;
}

.sidebar-info-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-info-box li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
}

.sidebar-step-number {
    background-color: #5B9430;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-shrink: 0;
}

.sidebar-info-box li p {
    margin: 0;
    color: #666;
}

.sidebar-emergency-contact {
    text-align: center;
}

.sidebar-emergency-line {
    font-weight: bold;
    margin-top: 10px;
}

.sidebar-emergency-phone {
    color: #5B9430;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 5px;
}

